.mi-cuenta-container {
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.titulo {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.titulo-secundario {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

.info-general {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: #ffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 250px;
}

.stat{
    
    background-color: #14d306;
}

.stat p{
    color: #ffff;
}

.profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 200px;
}

.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
}

.stats {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.stat {
  text-align: center;
}

.stat-title {
  font-weight: bold;
  color: #666;
}

.stat-value {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.buscador {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.buscador input {
  padding: 8px;
  flex: 1;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buscador button {
  padding: 8px 16px;
  background-color: #14d306;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buscador button:hover {
  background-color: #14d306;
}

.tabla-ordenes {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabla-ordenes th,
.tabla-ordenes td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.estado.entregado {
  color: green;
  font-weight: bold;
}

.estado.por-entregar {
  color: #dc3545;
  font-weight: bold;
}

.ver-detalle {
  padding: 6px 12px;
  background-color: #14d306;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ver-detalle:hover {
  background-color: #218838;
}


.logout-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}

.btn-logout {
  background-color: #dc3545;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-logout:hover {
  background-color: #c82333;
}
